<!DOCTYPE html>
<html lang="pt-BR">

<link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"></link>

    <link rel="stylesheet" href="style.css">

    <nav>
        <ul class="nav">
            <li class="nav-item">
                <input type="submit" class="btn btn-primary" value="PRODUTO" >
            </li>
            <li class="nav-item">
                <input type="submit" class="btn btn-primary" value="CLIENTE" >
            </li>
            <li class="nav-item">
                <input type="submit" class="btn btn-primary" value="FORNECEDOR" >
            </li>
            <li class="nav-item">
                <input type="submit" class="btn btn-primary" value="FUNCINÁRIO" >
            </li>
            <li class="nav-item">
                <input type="submit" class="btn btn-primary" value="ESTOQUE" >
            </li>
            <li class="nav-item">
                <input type="submit" class="btn btn-primary" value="VENDA" >
            </li>
        </ul>
    </nav>
</head>

<body>
    <img src="imagem/fundo.png" alt="Fundo" class="img-fluid">
    <img src="imagem/logo.png" alt="Logo" class="img-fluid"/>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> 
</body >
</html >